In [1]:
import pandas as pd

df_train = pd.read_csv('Training.csv')
df_train.head()

,itching,skin_rash,nodal_skin_eruptions,continuous_sneezing,shivering,chills,joint_pain,stomach_pain,acidity,ulcers_on_tongue,...,blackheads,scurring,skin_peeling,silver_like_dusting,small_dents_in_nails,inflammatory_nails,blister,red_sore_around_nose,yellow_crust_ooze,prognosis
0,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Fungal infection
1,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Fungal infection
2,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Fungal infection
3,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Fungal infection
4,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Fungal infection

In [2]:
import pandas as pd

df_test = pd.read_csv('Testing.csv')
df_test.head()

,itching,skin_rash,nodal_skin_eruptions,continuous_sneezing,shivering,chills,joint_pain,stomach_pain,acidity,ulcers_on_tongue,...,blackheads,scurring,skin_peeling,silver_like_dusting,small_dents_in_nails,inflammatory_nails,blister,red_sore_around_nose,yellow_crust_ooze,prognosis
0,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Fungal infection
1,0,0,0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Allergy
2,0,0,0,0,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,GERD
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Chronic cholestasis
4,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Drug Reaction

In [3]:
df_train.shape

(4920, 133)

In [4]:
df_test.shape

(41, 133)

In [5]:
print("Number of NaN values in train data is "+str(df_train.isnull().sum().sum()))
print("Number of NaN values in test data is "+str(df_test.isnull().sum().sum()))

Number of NaN values in train data is 0
Number of NaN values in test data is 0

In [6]:
from sklearn import preprocessing
df_categorical = df_train.select_dtypes(include=['object'])
df_categorical.head()

          prognosis
0  Fungal infection
1  Fungal infection
2  Fungal infection
3  Fungal infection
4  Fungal infection

In [7]:
le = preprocessing.LabelEncoder()
df_categorical = df_categorical.apply(le.fit_transform)
df_categorical.head()

   prognosis
0         15
1         15
2         15
3         15
4         15

In [9]:
df1 = df_train.drop(df_categorical.columns,axis=1)
df1 = pd.concat([df1,df_categorical],axis=1)
df1.head()

,itching,skin_rash,nodal_skin_eruptions,continuous_sneezing,shivering,chills,joint_pain,stomach_pain,acidity,ulcers_on_tongue,...,blackheads,scurring,skin_peeling,silver_like_dusting,small_dents_in_nails,inflammatory_nails,blister,red_sore_around_nose,yellow_crust_ooze,prognosis
0,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,15
1,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,15
2,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,15
3,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,15
4,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,15

In [10]:
from sklearn import preprocessing
df_categorical1 = df_test.select_dtypes(include=['object'])
df_categorical1.head()

             prognosis
0     Fungal infection
1              Allergy
2                 GERD
3  Chronic cholestasis
4        Drug Reaction

In [11]:
le = preprocessing.LabelEncoder()
df_categorical1 = df_categorical1.apply(le.fit_transform)
df_categorical1.head()

   prognosis
0         15
1          4
2         16
3          9
4         14

In [12]:
df2 = df_test.drop(df_categorical1.columns,axis=1)
df2 = pd.concat([df2,df_categorical1],axis=1)
df2.head()

,itching,skin_rash,nodal_skin_eruptions,continuous_sneezing,shivering,chills,joint_pain,stomach_pain,acidity,ulcers_on_tongue,...,blackheads,scurring,skin_peeling,silver_like_dusting,small_dents_in_nails,inflammatory_nails,blister,red_sore_around_nose,yellow_crust_ooze,prognosis
0,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,15
1,0,0,0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
2,0,0,0,0,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,16
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
4,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,14

In [13]:
x_train = df1.drop(["prognosis"], axis = 1)
y_train = df1["prognosis"]

x_test = df2.drop(["prognosis"], axis = 1)
y_test = df2["prognosis"]

x_train.shape, y_train.shape, x_test.shape, y_test.shape

((4920, 132), (4920,), (41, 132), (41,))

In [14]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=100)
clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)

In [15]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 1.0